@font-face {
    font-family: myFont;
    src: url(../fonts/Comfortaa-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

body * {
    font-family: myFont, sans-serif;

}


body > #wrapper {
    width:1170px;
    margin: 0 auto;
}

/* =================LOADER================== */

#preloader-wrapper {
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    z-index:112;
    background: rgb(0, 0, 0);
}

#preloader-wrapper > p {
  position:relative;
  font-size:1.8em;
  top:100px;
  left:30px;
  font-weight:initial;
  text-align: center;
  color: rgb(41, 119, 41);
  /* color:white; */
  z-index:113; 
  
 
}

#loader {
    display:block;
    position:relative;
    left:50%;
    top:50%;
    width:200px;
    height:200px;
    margin:-75px 0 0 -75px;
    border-radius: 50%;
    border: 7px solid transparent;
    border-top-color:#115c36;
    z-index:113;

    -webkit-animation:spin 2s linear infinite;
    animation:spin 2s linear infinite;
}

#loader:before {
    content: "";
    position: absolute;
    top:5px;
    left:5px;
    right: 5px;
    bottom:5px;
    border-radius: 50%;
    border:6px solid transparent;
    border-top-color: #1ce03c; 

    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top:15px;
    left:15px;
    right: 15px;
    bottom:15px;
    border-radius: 50%;
    border:5px solid transparent;
    border-top-color: #0f770f;

    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
} 

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* ============= HEADER ============== */

header {
    display:block;
    background-color: white;
    height: 150px;
    width:1170px;
    box-sizing: border-box;
    position:fixed;
    z-index:5;

}

 #logo{
    display:inline-block;
}

 #logo > img {
   width:400px;
   padding: 18px;
   background-repeat: no-repeat;
   cursor:pointer;
}

.rightBox{
    display:iblock;
    float: right;
    margin-top:68px;
    margin-right:20px;
}


.rightBox > .search {
    background-image: url('../images/search-icon.png');
    background-repeat: no-repeat;
    text-align: left;
    background-size:23px;
    background-position: center right;
    border: 1px;
    background-clip: padding-box;
    padding:8px;
    cursor:pointer;
    margin:10px;
    float:left;
    border-radius: 5px;
    border-style:outset;
    height:33px;
    
}

.rightBox > #loggin {
    margin:10px;
    height:33px;
    float:left;
    padding:8px;
    background-clip: padding-box;
    border-radius: 5px;
    border-style:outset;
    background-color: red;
    color:white;
    text-align: center;
    font-size:0.9em;
    cursor:pointer;
    
}

hr.style-border {
    height: 15px;
    display: inline-block;
    width:100%;
    box-sizing: border-box;
    box-shadow: inset 0 9px 9px -3px rgb(19, 53, 28);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}  

/* body > #wrapper > header > .rightBox > #orders {
    background: black;
    float:left;
    width:100px;

} */

.rightBox > #basket {
    background-image: url('../images/bag.png');
    cursor:pointer;
    width:40px;
    float:left;
    box-sizing:border-box;
    height:33px;
    margin-top:10px;
    background-repeat: no-repeat;
    background-size:30px;
    /* border:1px solid rgb(66, 125, 15); */
    
}

.rightBox > #basket:hover {
   background-color: rgb(66, 125, 15);
}

.rightBox > #number-orders {
    width:20px;
    background-color: green;
    float:right;
    height:33px;
    margin-top:10px;
}


/* ============= ASIDE ==================== */

 aside {
    width:200px;
    height:800px;
    float:left;
    margin-top:205px;
 }

 aside > div{
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color:rgb(19, 53, 28);
    font-weight: bold;
    padding-left: 10px;
}

aside >div ~ div:hover{
    background-color: rgb(19, 53, 28);
    width: 100%;
    color:white;
    border-radius: 5px;
}

#cat {
    font-weight: bold;
    /* text-decoration-color: rgb(19, 53, 28); */
    text-decoration: underline;
    text-transform: uppercase;
    font-size:1.3em;
}
#arrow{
    width: 10px;
    height: 100%;
    background-image: url('../images/arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px;
}


/* aside li a:hover{
    color:white; 
} */

#banner {
    width:95%;
    height:530px;
    margin-top:50px;
    background-image: url('../images/side_baner.jpg');
    border-radius: 8px;
}


/* ================ MAIN ==================== */


main {
  width:80%;
  display:flex;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: flex-start;
  flex-wrap: wrap;
  float:right;
  margin-top:205px;
}

main .carousel-inner img {
    height:293px;
}

#carouselExampleIndicators {
    width:900px;
    float:right;
    margin:0px 30px;
}

#carouselExampleIndicators img {
    border-radius: 10px;
}

main > .sections {
   display:flex;
   justify-content: space-around;
   flex-wrap: wrap;
   align-items: center;
   box-sizing: border-box;
   width:913px;;
   height:700px;
   margin-left:10px;
  float:right;
  padding:1px 0;
  margin-bottom:20px;
  margin-top:20px;  1
}

.sections > div {
    width:29%;;
    height:300px;
    display: flex;
    align-items: center;
    border:outset;
    border-radius: 10px;
    transition: transform .3s;
}

.sections > div:hover {
    z-index:3;
    transform: scale(1.2);
    border-radius:20px;
    -webkit-box-shadow: 10px 10px 110px 49px rgba(87,84,87,1);
    -moz-box-shadow: 10px 10px 110px 49px rgba(87,84,87,1);
    box-shadow: 10px 10px 110px 49px rgba(87,84,87,1);
}

#cover-1{
    background-image: url('../images/woman.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

#cover-2 {
    background-image: url('../images/man1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top left;
}

#cover-3 {
    background-image: url('../images/kids3.jpg');
    background-size: cover;
}

#cover-4 {
    background-image: url('../images/fitness2.png');
    background-size: cover;
}

#cover-5 {
    background-image: url('../images/bags.png');
    background-size: cover;
    background-position: center center;
}

#cover-6 {
    background-image: url('../images/shoes.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.sections .boxCovers{
    width:100%;
    height:50px;
    text-align: center; 
}

.boxCovers p {
  padding-top: 21px;
  height: 60px;
  background-color: rgba(25, 25, 26, .6);
  color:white;
  font-weight:bold;
}


/* ========== FOOTER ============ */

body > #wrapper > footer {
    width:100%;
    display: inline-block;
    box-sizing: border-box;
}

body > #wrapper > footer > section#boxFooter{
    display:block; 
    box-sizing: border-box;
    display: block;
    width: 700px;
    float:left;
    /* background-color: brown; */
    padding:20px;
    height:200px;

}

body > footer > #boxFooter > p {
    display:inline-block;
    width:200px;
    font-size: 2em;
}


 .contacts, .home, .email  {
    background-size: 20px;
    background-repeat: no-repeat;
    width:30%;
    height:100px;
    float:left;
    padding-left:20px;
    margin-top:22px;
    font-size:0.8em;
}

.contacts{
  background-image: url('../images/old-typical-phone.png');  

}

.home{
    background-image: url('../images/home.png');  

}

.email{
    background-image: url('../images/opened-email-envelope.png');  
    
}

#boxFooter p, #boxFooter a {
    padding-left:10px;
    
}

#applications p {
    padding:20px;
    font-size: 1.2em;
    text-align: center;
}

#icons {
    background-image: url('../images/footer.png');
    background-size: 400px;
    background-position:top left;
    background-repeat: no-repeat;
    width:20%;
    height:100px;
    float:right;
    margin-top:18px;
    margin-right:120px;
    text-align: center;
}

body > #wrapper > footer > hr {
    clear:both;
    position:relative;
    top:-10px;
    z-index:3;
    margin:0 20px;
}

body > #wrapper > footer .boxFooter2{
    padding:10px;
    height: 20px;
    margin-top:-20px;
    font-size:0.8em;
    width:100%;
    display: inline-block;
}

body > #wrapper > footer .boxFooter2 > p {
    margin:5px;
}